main {
  background-image: linear-gradient(
      180deg,
      rgba(15, 15, 15, 0.2) 0%,
      rgba(1, 1, 1, 0) 42%,
      rgba(15, 15, 15, 1) 100%
    ),
    linear-gradient(
      90deg,
      rgba(15, 15, 15, 1) 0%,
      rgba(1, 1, 1, 0) 50%,
      rgba(15, 15, 15, 1) 100%
    ),
    url("/hangoveer.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 80vh;
  width: 60vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;

  .hero {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* background: red; */
    height: 80vh;
    justify-content: end;
    position: relative;

    h1 {
      text-align: center;
      font-size: 2.5rem;
      margin-top: 12rem;
      margin-bottom: 3rem;
      font-family: "Playfair Display", serif;
      font-weight: 900;
    }
    .bg-movie-name {
      position: absolute;
      top: 50%;
      align-self: flex-end;
      justify-self: center;
      a {
        color: #e4e4e4;
        font-size: 0.85rem;
        writing-mode: sideways-lr;
      }
    }

    .btn {
      background: rgb(32, 170, 32);
      border: none;
      align-self: center;
      border-radius: 3px;
      padding: 12px 24px;
      color: #fff;
      font-weight: 600;
      font-size: 1.1rem;
      cursor: pointer;
      margin-bottom: 2.5rem;

      &:hover {
        background: rgb(42, 145, 26);
      }
    }

    p {
      font-size: 1.15rem;
      font-weight: 500;
      color: #969696;
    }
  }
}

.container-latest-movies {
  width: 60vw;
  /* border: 1px solid blue; */
}

.modal {
  position: absolute;
  max-width: 100%;
  max-height: fit-content;
  border-radius: 4px;
  background: #505050;
  padding: 10px 20px;
  bottom: 200px;
  animation: 0.3s animaLeft ease-in-out;
}

.modal h2 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.3rem;
}

.modal form {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 20px;
  margin: 25px 0px;
}

.modal-header {
  display: flex;
  gap: 10px;
  align-items: center;
}

.modal-header button {
  background: transparent;
  font-size: 1.25rem;
  color: #e9e9e9;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 10px;
  cursor: pointer;
}

form button {
  padding: 10px;
  align-self: self-start;
  font-weight: bold;
  background: rgb(32, 170, 32);
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 4px;
  color: #fff;
}

form div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

form div label {
  font-weight: 400;
  font-size: 0.875rem;
}

form input {
  border: none;
  padding: 5px;
  border-radius: 4px;
}

@keyframes animaLeft {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
