.modal {
  position: absolute;
  align-self: center;
  max-width: 100%;
  max-height: fit-content;
  border-radius: 4px;
  background: #1a1a1a;
  padding: 10px 20px;
  bottom: 200px;
  animation: 0.3s animaLeft ease-in-out;
  display: flex;
  flex-direction: column;
}

.modal h2 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.5rem;
}

.modal form {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 10px;
  margin: 15px 0px;
}

.modal-header {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-right: 15px;
}

.modal-header .modal-close {
  background: transparent;
  /* font-size: 1rem; */
  color: #e9e9e9;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: 0px;
}

.modal-have-account a {
  text-decoration: underline;
  font-weight: 500;
}

form div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

form div label {
  font-weight: 400;
  font-size: 0.875rem;
}

form input {
  font-size: 1rem;
  border: none;
  padding: 5px;
  border-radius: 4px;
}
