img {
  max-width: 100%;
  display: block;
}
.movies-container {
  width: 60vw;
  margin: 10rem auto 2rem auto;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
  flex-wrap: wrap;
  position: relative;

  .movies {
    align-items: center;
    /* border: 1px solid red; */
    img {
      min-width: 100px;
      height: 100%;
      object-fit: cover;
      display: block;
      cursor: pointer;
    }

    &:hover {
      scale: 1.05;
    }
  }

  .sentinel {
    width: 100%;
    background: red;
  }
}
