img {
  max-width: 100%;
  display: block;
}
.movies-container {
  width: 60vw;
  margin: 10rem auto 2rem auto;
  padding: 10px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;

  .movies {
    img {
      width: 300px;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
}
