.search-results-container {
  width: 60vw;
  margin: 10rem auto 2rem auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 25px;

  .movie-card-results {
    display: flex;
    gap: 10px;
    strong {
      font-weight: 300;
    }
    img {
      max-width: 20%;
    }
  }
}
