@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  background: #0f0f0f;
  color: #fff;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #fff;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
