.search-results-container {
  width: 60vw;
  margin: 10rem auto 2rem auto;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 25px;

  .movie-card-results {
    strong {
      font-weight: 300;
    }
    img {
      width: 100%;
      cursor: pointer;
      aspect-ratio: 2 /3;
      transition: 0.1s;
      object-fit: cover;
      background: #0f0f0f;

      &:hover {
        scale: 1.05;
      }
    }
  }
}
